<div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper light-blue darken-3">
        <a href="/api/discord/login" class="right waves-effect waves-light btn" id="loginbtn">
          Login with Discord
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class="col s12" id="navbar">
          <a href="/" class="breadcrumb"><%= name %></a>
          <% links.forEach(link => { %>
            <a href="<%= link.url %>" class="breadcrumb"><%= link.text %></a>
          <% }); %>
        </div>
      </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/"><%= name %></a></li>
  <li><a href="#"><%= title %></a></li>
</ul>