<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title><%= title %></title>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="container">
    <br>
    <h2 class="center">Select a server</h2>
    <div class="row">
      <% guilds.forEach(guild => { %>
        <a href="guilds/<%= guild.id %>/">
          <div class="col s12 m6 xl4">
            <div class="card-panel hoverable">
              <div class="row valign-wrapper" id="server-item">
                <div class="col s2">
                  <img src="<%= guild.iconURL ? guild.iconURL : "https://discordapp.com/assets/6debd47ed13483642cf09e832ed0bc1b.png" %>" alt="Server Icon" class="circle responsive-img valign">
                </div>
                <div class="col s10">
                  <span class="black-text"><%= guild.name %> - <%= guild.memberCount %> Users</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      <% }); %>
    </div>
  </div>
  <% include ../partials/footer %>
</body>
</html>