<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title><%= title %></title>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <div class="row">
    <div class="col s12">
      <div class="container">
        <br>
        <h2 class="center"><%= guild.name %> has <%= guild.memberCount %> members:</h2>
        <ul class="collection members">
          <% guild.members.forEach(member => { %>
            <li class="collection-item avatar">
              <img src="/img/blank.gif" data-src="<%= member.user.displayAvatarURL %>" alt="Avatar" class="circle lazy">
              <span class="title"><%= member.displayName %></span>
              <p><%= member.user.tag %></p>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
</body>
</html>